{{#each files}}
<div style="float:left;width:100%">
    <div class="horizontal fullname">{{fullname}}</div>
    <div class="horizontal new_name">fileNewName</div>
    <div class="horizontal option"><button name="btn_1">Change</button></div>
</div>
{{/each}}
