/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    font-family:微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.item_div{
    float: left;
    width: 100%;
    border-style: ridge;
    border-color: rgb(172, 167, 177);
}
.dir{
    width: 100%;
}
.dir_input{
    width: 60%;
    padding-left: 60px;
}

.batch1{
    width: 100%;
}
.batch2{
    width: 35%;
    float: right;
}
.horizontal {
    float: left;
}

.btn_dir_back{
    float: left;
    margin-left: 100px;
}
.fullname_dir {
    color: rgba(147, 28, 245, 0.952);
    font-size: 12px;
    font-weight:bold;
    padding-left: 80px;
    float: left;
}

.btn_option_dir{
    margin-left: 50px;
    float: left;
}

.fullname {
    color: rgba(0, 0, 0, 0.767);
    font-size: 12px;
    padding-left: 80px;
    width: 90%;
}

.checkbox{
}

.selector{
}
.curr_name {
    width: 34%;
    text-align: center;
}

.preview_name {
    width: 33%;
    text-align:center;
}
.preview_name_input{
    width: 100%;
    text-align: center;
}

.option {
    width: 30%;
}

.bg_yellow {
    background-color: rgba(184, 238, 59, 0.76);
}
.bg_selected{
    background-color: aquamarine;
}
.btn{
    width:auto;
}
.btn.change{
    color:green;
}
.btn.reset{
    color: rgba(140, 140, 231, 0.904);
}