/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.horizontal {
    float: left;
    border-style: ridge;
}

.full_name {
    width: 40%;
}

.new_name {
    width: 30%;
}

.option {
    width: 20%;
}